# Python cache
__pycache__/
*.pyc
*.pyo

# Virtuální prostředí
.venv/
venv/
env/

# Databáze SQLite (lokální)
db.sqlite3

# Django staticfiles (generované)
staticfiles/

# Test/coverage cache
.pytest_cache/
.coverage
